<div class="w-full h-12 bg-darkPrimary flex justify-center mt-8">
  <div class="container w-full flex justify-between h-full items-center max-w-xs sm:max-w-md lg:max-w-2xl xl:max-w-3xl 2xl:max-w-4xl">
    <div class="font-montserrat text-xs lg:text-base text-gray-400">Done by <span class="text-white">Sergio Cordero</span></div>
    <div class="h-full flex items-center">
      <a href="https://github.com/sergiocrol" class="h-2/5 w-5 flex items-center mb-1 cursor-pointer">
        <img src="assets/img/github-icon.svg" alt="github"/>
      </a>
      <a href="https://www.linkedin.com/in/sergio-cordero-rol" class="h-3/6 w-6 flex items-center ml-2 cursor-pointer">
        <img src="assets/img/linkedin-icon.svg" alt="linkedin" />
      </a>
    </div>
  </div>
</div>