<div [ngClass]="toggled ? 'card-animated-dark' : 'card-animated'" class="w-full h-20 bg-white dark:bg-darkTertiary flex py-4 px-5 mt-2 items-center relative lg:mt-4 lg:px-12">
  <div class="rounded-full bg-gray-300  min-w-10 min-h-10 w-10 h-10 lg:mr-6 lg:min-h-15 lg:min-w-15"></div>
  <div class="flex flex-col flex-1 h-full pl-5 justify-evenly">
    <div class="text-shadow w-10/12 mb-1"></div>
    <div class="text-shadow-sm w-8/12"></div>
    <div class="text-shadow-sm w-8/12"></div>
    <div class="text-shadow-sm w-8/12"></div>
  </div>
</div>