// Add utilities
.shadow-grey-1 {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.shadow-bottom-grey {
  box-shadow: 0px 7px 10px -5px rgba(133,133,133,1);
}

.indent-10 {
  text-indent: 10px;
}

.loading {
  opacity: 0.4;
}

.loading:disabled,
.loading[disabled] {
  cursor: not-allowed;
}

.active {
  opacity: 1;
}